# image: node:10

# cache:
#   paths:
#     - node_modules/
#     - .yarn

# stages:
#   - test

# test:
#   stage: test
#   script:
#     - yarn install --pure-lockfile --cache-folder .yarn
#     - yarn test:ci
#   coverage: '/^Statements\s*:\s*([^%]+)/'
